@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
img { pointer-events: none; }
html {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.85)), url(images/back.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.square {
  width: 650px;
  height: 850px;
  background-color: rgb(44, 44, 44);
  border-radius: 10%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.ava {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;
}
.text {
  font-family: "Poppins", sans-serif;
  color: white;
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;
}
.text2 {
  font-family: "Poppins", sans-serif;
  color: rgb(114, 114, 114);
  position: absolute;
  top: 195px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;
}
.btnyt {
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: white;
  background: linear-gradient(to left, #e52d27,#b31217,#e52d27);
  text-decoration: none;
  padding: 20px 80px;
  border-radius: 10px;
  background-size: 200%;
  transition: .5s;
}
.btnyt:hover {
  background-position: right;
}
.btnvk {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: white;
  background: linear-gradient(to left, #4B79A1,#283E51,#4B79A1);
  text-decoration: none;
  padding: 20px 105px;
  border-radius: 10px;
  background-size: 200%;
  transition: .5s;
}
.btnvk:hover {
  background-position: right;
}
.btntg {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: white;
  background: linear-gradient(to left, #2980b9,#2c3e50,#2980b9);
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 10px;
  background-size: 200%;
  transition: .5s;
}
.btntg:hover {
  background-position: right;
}
.btnsc {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: white;
  background: linear-gradient(to left, #fe8c00,#f83600,#fe8c00);
  text-decoration: none;
  padding: 20px 65px;
  border-radius: 10px;
  background-size: 200%;
  transition: .5s;
}
.btnsc:hover {
  background-position: right;
}
.btnstm {
  position: absolute;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: white;
  background: linear-gradient(to left, #16222A,#3A6073,#16222A);
  text-decoration: none;
  padding: 20px 90px;
  border-radius: 10px;
  background-size: 200%;
  transition: .5s;
}
.btnstm:hover {
  background-position: right;
}
.btnda {
  position: absolute;
  top: 780px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: white;
  background: linear-gradient(to left, #56ab2f,#a8e063,#56ab2f);
  text-decoration: none;
  padding: 20px 85px;
  border-radius: 100px;
  background-size: 200%;
  transition: .5s;
}
.btnda:hover {
  background-position: right;
}