@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
img { pointer-events: none; }
@media screen and (min-width: 1200px) {
    html {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), url(images/back.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  .btnda {
    top: 780px;
  }
  .ava {
    top: 10%;
  }
  .text {
    top: 16%;
  }
  .text2 {
    top: 195px;
  }
}
@media screen and (max-width: 1200px) {
  body {
    background-color: rgb(44, 44, 44);
}
  .btnda {
      top: 775px
  }
  .ava {
    top: 10%;
  }
  .text {
    top: 16%;
  }
  .text2 {
    top: 195px;
  }
}
@media screen and (min-width: 420px) {
  .ava {
    top: 10%;
  }
  .text {
    top: 16%;
  }
  .text2 {
    top: 195px;
  }
  .btnyt {
    top: 34%;
    font-size: 16px;
    padding: 20px 80px;
  }
  .btnvk {
    top: 44%;
    font-size: 16px;
    padding: 20px 105px;
  }
  .btntg {
    top: 54%;
    font-size: 16px;
    padding: 20px 40px;
  }
  .btnsc {
    top: 64%;
    font-size: 16px;
    padding: 20px 65px;
  }
  .btnstm {
    top: 74%;
    font-size: 16px;
    padding: 20px 90px;
  }
  .btnda {
    font-size: 16px;
    padding: 20px 85px;
  }
}

@media screen and (max-width: 420px) {
  .btnyt {
    top: 34%;
    font-size: 14px;
    padding: 20px 70px;
  }
  .btnvk {
    top: 44%;
    font-size: 14px;
    padding: 20px 92px;
  }
  .btntg {
    top: 54%;
    font-size: 14px;
    padding: 20px 36px;
  }
  .btnsc {
    top: 64%;
    font-size: 14px;
    padding: 20px 60px;
  }
  .btnstm {
    top: 74%;
    font-size: 14px;
    padding: 20px 80px;
  }
  .btnda {
    font-size: 14px;
    padding: 20px 75px;
  }
}
@media screen and (max-height:680px) and (max-width: 420px) {
  .ava {
    top: 140px;
  }
  .text {
    top: 192px;
  }
  .text2 {
    top: 225px;
  }
  .btnyt {
    top: 34%;
    font-size: 14px;
    padding: 20px 65px;
  }
  .btnvk {
    top: 44%;
    font-size: 14px;
    padding: 20px 87px;
  }
  .btntg {
    top: 54%;
    font-size: 14px;
    padding: 20px 31px;
  }
  .btnsc {
    top: 64%;
    font-size: 14px;
    padding: 20px 55px;
  }
  .btnstm {
    top: 74%;
    font-size: 14px;
    padding: 20px 75px;
  }
  .btnda {
    top: 712px;    
    font-size: 13px;
    padding: 20px 65px;
  }
}
.square {
  width: 650px;
  height: 850px;
  background-color: rgb(44, 44, 44);
  border-radius: 10%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.ava {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.text {
  font-family: "Poppins", sans-serif;
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;
}
.text2 {
  font-family: "Poppins", sans-serif;
  color: rgb(114, 114, 114);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;
}
.btnyt {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  color: white;
  background: linear-gradient(to left, #e52d27,#b31217,#e52d27);
  text-decoration: none;
  border-radius: 10px;
  background-size: 200%;
  transition: .5s;
}
.btnyt:hover {
  background-position: right;
}
.btnvk {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  color: white;
  background: linear-gradient(to left, #4B79A1,#283E51,#4B79A1);
  text-decoration: none;
  border-radius: 10px;
  background-size: 200%;
  transition: .5s;
}
.btnvk:hover {
  background-position: right;
}
.btntg {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  color: white;
  background: linear-gradient(to left, #2980b9,#2c3e50,#2980b9);
  text-decoration: none;
  border-radius: 10px;
  background-size: 200%;
  transition: .5s;
}
.btntg:hover {
  background-position: right;
}
.btnsc {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  color: white;
  background: linear-gradient(to left, #fe8c00,#f83600,#fe8c00);
  text-decoration: none;
  border-radius: 10px;
  background-size: 200%;
  transition: .5s;
}
.btnsc:hover {
  background-position: right;
}
.btnstm {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  color: white;
  background: linear-gradient(to left, #16222A,#3A6073,#16222A);
  text-decoration: none;
  border-radius: 10px;
  background-size: 200%;
  transition: .5s;
}
.btnstm:hover {
  background-position: right;
}
.btnda {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  color: white;
  background: linear-gradient(to left, #237A57,#093028,#237A57);
  text-decoration: none;
  border-radius: 100px;
  background-size: 200%;
  transition: .5s;
}
.btnda:hover {
  background-position: right;
}